@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

* {
  transition: background-color 0.3s, color 0.3s;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Theme background is now dynamic */
.app {
  min-height: 100vh;
  display: grid;
  background-color: var(--bg);
}
